<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyemeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Question</title>
</head>
<body>
    <form action="/question/add" method="post">
        <p>Add the category of the question</p>
        <input name="category" ><br>
        <p>Add the difficulty level</p>
        <input name="difficultyLevel"><br>
        <p>Add the question</p>
        <input name = "questionTitle"><br>
        <p>Add the first option</p>
        <input name = "option1"><br>
        <p>Add the second option</p>
        <input name = "option2"><br>
        <p>Add the third option</p>
        <input name = "option3"><br>
        <p>Add the fourth option</p>
        <input name = "option4"><br>

        <p>Add the right answer</p>
        <input name = "rightAnswer"><br>
        <button>submit</button>

    </form>
</body>
</html>